    Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* Ordered list*
* Data Science Tools*
* List popular languages for Data Science*

Some of the popular languages that Data Scientists use are:

Ordered list

Python
R
NoSQL

Some of the commonly used libraries used by Data Scientists include:

Ordered List:
    NyumP
    ggplot
    dplyr

Data Science Tools
GitHub
Jupyter
Google Colloab

        Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
'This a simple arithmetic expression to mutiply then add integers'
(3*4)+5

17

In [33]:
 'This will convert 200 minutes to hours by diving by 60'
     
minutes = 200
hours_and_minutes = divmod(minutes, 60)
print(eta_in_hours_and_minutes)

(3, 20)

    Atuthor: 
    Arif Muftu